<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesafioCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C014114D1F71F5BE00A0E745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C01411661F71F5BF00A0E745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C01411711F71F5BF00A0E745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
